In [1]:

# Imports
import pandas as pd
from eda import ExploratoryAnalysis

# Load dataset (example: California housing from sklearn or local CSV)
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing(as_frame=True)
df = housing.frame

df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [2]:

# Initialize EDA analyzer
analyzer = ExploratoryAnalysis(df)

### Basic summary of the dataset

In [3]:
analyzer.basic_summary()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB
None

Numerical Features Summary:
             MedInc      HouseAge      AveRooms     AveBedrms    Population  \
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.870671     28.639486      5.429000      1.096675   1425.476744
std        1.899822     12.585558      2.474173      0.473911   1132.462122
min        0.499900      1.000000      0.846154      0.333333      3.000000
25%        2.563400     18.000000      4.440716      1.006079    787.000000
50%        3.534800     29.000000      5.229129      1.048780   1166.000000
75%        4.743250     37.000000      6.052381      1.099526   1725.000000
max       15.000100     52.000000    141.909091     34.066667  35682.000000

           AveOccup      Latitude     Longitude   MedHouseVal
count  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.070655     35.631861   -119.569704      2.068558
std       10.386050      2.135952      2.003532      1.153956
min        0.692308     32.540000   -124.350000      0.149990
25%        2.429741     33.930000   -121.800000      1.196000
50%        2.818116     34.260000   -118.490000      1.797000
75%        3.282261     37.710000   -118.010000      2.647250
max     1243.333333     41.950000   -114.310000      5.000010

Missing Values:
No missing values found

Feature Correlations with Target:
MedHouseVal    1.000000
MedInc         0.688075
AveRooms       0.151948
HouseAge       0.105623
AveOccup      -0.023737
Population    -0.024650
Longitude     -0.045967
AveBedrms     -0.046701
Latitude      -0.144160
Name: MedHouseVal, dtype: float64

### Detailed statistical description by data type

In [4]:
analyzer.describe_data()

{'numeric':              MedInc      HouseAge      AveRooms     AveBedrms    Population  \
 count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
 mean       3.870671     28.639486      5.429000      1.096675   1425.476744
 std        1.899822     12.585558      2.474173      0.473911   1132.462122
 min        0.499900      1.000000      0.846154      0.333333      3.000000
 25%        2.563400     18.000000      4.440716      1.006079    787.000000
 50%        3.534800     29.000000      5.229129      1.048780   1166.000000
 75%        4.743250     37.000000      6.052381      1.099526   1725.000000
 max       15.000100     52.000000    141.909091     34.066667  35682.000000

            AveOccup      Latitude     Longitude   MedHouseVal
 count  20640.000000  20640.000000  20640.000000  20640.000000
 mean       3.070655     35.631861   -119.569704      2.068558
 std       10.386050      2.135952      2.003532      1.153956
 min        0.692308     32.540000   -124.350000      0.149990
 25%        2.429741     33.930000   -121.800000      1.196000
 50%        2.818116     34.260000   -118.490000      1.797000
 75%        3.282261     37.710000   -118.010000      2.647250
 max     1243.333333     41.950000   -114.310000      5.000010  }

### Correlation matrix with significance test

In [5]:
analyzer.correlation_analysis(method='pearson', threshold=0.8)

AttributeError: 'ExploratoryAnalysis' object has no attribute 'correlation_analysis'

### Distribution analysis with normality test

In [6]:
analyzer.distribution_analysis()

AttributeError: 'ExploratoryAnalysis' object has no attribute 'distribution_analysis'

### Outlier detection using IQR

In [7]:
analyzer.outlier_analysis(method='iqr', threshold=1.5)

AttributeError: 'ExploratoryAnalysis' object has no attribute 'outlier_analysis'

### Outlier detection using Z-score

In [8]:
analyzer.outlier_analysis(method='zscore', threshold=2.0)

AttributeError: 'ExploratoryAnalysis' object has no attribute 'outlier_analysis'

### Display collected insights

In [9]:
analyzer.get_insights()

AttributeError: 'ExploratoryAnalysis' object has no attribute 'get_insights'